/*----------------------------------- @game: ESCUELA DE ASTRONAUTAS ------------------------------------------*/

/*Variables */

/*--------- Fuentes --------*/
$juego: 'Press Start 2P', sans-serif;
$legend: 'Dela Gothic One', sans-serif;
$title: 3.35rem;
$subtitle: 2.5rem;
$par1: 1.2rem;
$par2: 1rem;
$extra: 700;
$normal: 400; 

/*--------- Botones --------*/
$classy: #324C87;
$classyHover: #4E76D4;
$darts: #131D33;
$action: #847CA1;
$actionHover: #D5CEED;

/*--------- Controls -------*/
$controls: #474B54;
$borderControls: #A18C87;
/*--------- Astros ---------*/

/* Luna */
$luna: #DFE3ED;
$crater: rgba(112, 114, 119, 0.5);

/* Luna */
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ESTILOS GLOBALES */
body {
  background-color: #16213B;
  font-size: 16px;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: $juego;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: $extra;
}

p {
  font-family: $juego;
  color: #ffffff;
  font-size: 1.5rem;
}

#bg,
#introMoon {
  margin: 50px;
  background-color: #16213B;
}

.msj {
  margin: 2rem auto;
  max-width: 50%;
  line-height: 1.5em;
  text-align: center;
}

.datos p {
  font-family: $juego;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.2em;
  text-transform: capitalize;
}

.datos {
  padding: 1.75rem;
  text-align: left;
  border-radius: 10px;
}

.btn {
  background: transparent;
  font-family: $juego;
  border: 1px solid #ffffff;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: block;
  margin: 0 auto;
}

.slide {
  padding: 100px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}

.slide h1 {
    font-size: $title;
}

.welcome {
    text-align: center;
    max-width: 75%;
    line-height: 1.55em;
    font-weight: $normal;
    font-size: $par1;
    margin-top: 5vh;
}

#lvl2,
#start,
#introMoon {
  display: none;
}

.imagen {
  width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

#slideLuna,
#slideMarte,
#slideSol {
  display: none;
}

/* Slide Intro */
.introForm input[type="text"] {
  background-color: #131D33;
  padding: 16px 32px 16px 32px;
  border: 2px solid #324C87;
  border-radius: .66rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: .85rem;
  font-family: 'Press Start 2P', sans-serif;
}

.introForm label {
  font-size: 1.45rem;
  font-family: 'Press Start 2P', sans-serif;
  margin-bottom: 1rem;
  color: #ffffff;
}

.introForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btnClassy {
  background-color: #324C87;
  padding: 16px 32px 16px 32px;
  border: 2px solid #324C87;
  border-radius: .66rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 1.25rem;
  font-family: 'Press Start 2P', sans-serif;
  cursor: pointer;
}

.btnClassy:hover {
  border: 2px solid #4E76D4;
}

.btnAction {
  background-color: #847CA1;
  padding: 16px 32px 16px 32px;
  border: 2px solid #324C87;
  border-radius: .66rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 1.25rem;
  font-family: 'Press Start 2P', sans-serif;
  cursor: pointer;
}

.btnAction:hover {
  border: 2px solid #D5CEED;
}

.textContainer {
  margin-bottom: 2rem;
}

/*----------------------------------- CONTROLES ------------------------------------------*/
.controls {
  margin: .5rem auto;
  background-color: #474B54;
  border: 1px solid #A18C87;
  border-radius: 1.25rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.75rem;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control label {
  color: #ffffff;
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.display {
  height: 3rem;
}

.buttons {
  text-align: center;
}

.buttons button {
  background-color: #131D33;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  color: #ffffff;
  border: 2px solid #D5CEED;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  vertical-align: middle;
}

.buttons button:hover {
  background-color: #D5CEED;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 300px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #131D33;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #D5CEED;
}

input[type=range]::-moz-range-track {
  width: 400px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #131D33;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #131D33;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #D5CEED;
}

input[type=range]:focus::-ms-fill-upper {
  background: #D5CEED;
}

/* ---------------------------------- ASTROS STYLES --------------------------------------*/
.luna {
  border-radius: 50%;
  background-color: #DFE3ED;
  position: relative;
  width: 10px;
  height: 10px;
  left: 0px;
}