/*----------------------------------- @game: ESCUELA DE ASTRONAUTAS ------------------------------------------*/

/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ESTILOS GLOBALES */
body {
    background-color: #16213B;
    font-size: 16px;
}
a,
a:link,
a:visited,
a:active,
a:hover {
	color: #ffffff;
	text-decoration: none;
}

h1, h2, h3, 
h4, h5, h6 {
    font-family: 'Dela Gothic One', sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
}

p {
	font-family: 'Press Start 2P', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
}

.msj {
	margin: 2rem auto;
	max-width: 50%;
	line-height: 1.5em;
	text-align: center;
}

.btn {
	background: transparent;
	font-family: 'Press Start 2P', sans-serif;
	border: 1px solid #ffffff;
	padding: 16px 32px 16px 32px;
	border-radius: 8px;
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
}

.container {
	display: block;
	margin: 0 auto;
}

.slide {
	display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .5fr;
    justify-items: center;
    align-items: center;
	min-height: 80vh;
}

#lvl2,
#reloadLuna {
	display: none;
}

.imagen {
  width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

#slideMarte,
#slideSol {
	display: none;
}